.error-window {
  display: flex;
  width: 25%;
  min-width: 370px;
  height: 30%;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1;
  position: absolute;
}

.confirm {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: red;
  border: red solid 1px;
  padding: 5px 8px 5px 8px;
  color: white;
  font: bold;
  cursor: pointer;
}

.confirm:active {
  transform: scale(0.95);
}

.error-text {
  font-size: larger;
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
