.newBook {
  display: flex;
  border: 1px solid #a27b5c;
  background: #a27b5c;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
  text-align: center;
  margin-top: 13rem;
}

.newBook-hidden {
  display: flex;
  border: 1px solid #a27b5c;
  background: #a27b5c;
  padding: 2rem 11rem 2rem 11rem;
  border-radius: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.new-book-button {
  border-radius: 10px;
  background: #55430a;
  border: #55430a;
  padding: 14px;
  color: white;
  box-shadow: 3.5px 3.5px 0px rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

.new-book-button:active {
  transform: scale(0.95);
  box-shadow: none;
}
