.book {
  display: flex;
  flex-direction: row;
  border: 2px solid #a27b5c;
  border-radius: 11px;
  background-color: #a27b5c;
  margin-bottom: 8px;
  height: 100px;
  transition: height 0.5s;
  align-items: center;
  position: relative;
}

.book-expanded {
  display: flex;
  flex-direction: column;
  border: 2px solid #a27b5c;
  border-radius: 11px;
  background-color: #a27b5c;
  margin-bottom: 8px;
  transition: height 0.5s;
  overflow: hidden;
  height: 200px;
  position: relative;
}

.click-area {
  height: 100%;
  width: 78%;
  position: absolute;
  cursor: pointer;
  border-right: 1px solid black;
}

.click-area-expanded {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.book-data-1 {
  padding-left: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100px;
}

.book-data-1-expanded {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-data-1 p {
  font-size: small;
}

.book-data-1-expanded p {
  font-size: small;
  margin: 0;
  padding: 0;
}

.book-data-1-expanded h4 {
  margin-bottom: 8px;
}

.book-data-2 {
  margin-left: 3.8rem;
  margin-top: 5px;
}

.book-data-2-expanded {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.book-data-3 {
  margin-left: 3.8rem;
  overflow-wrap: break-word;
  display: flex;
  text-align: center;
  width: 140px;
  align-items: center;
}

.book-data-3-expanded {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}

.book-data-4 {
  margin-left: 3.8rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
}

.book-data-4-expanded {
  visibility: hidden;
  position: absolute;
}

.page-num {
  cursor: pointer;
}

.page-num:focus {
  background: white;
  outline: black;
  outline-width: 2px;
  border-radius: 4px;
}

.valid-number {
  font-size: small;
}
