.tracker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  margin-right: 3rem;
  height: 100%;
  font-size: small;
}

.tracker p {
  margin-left: 2rem;
}
