.card {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  border: 2px solid #2c3639;
  padding: 2.5rem;
  background: #2c3639;
  border-radius: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
}
