.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: auto;
  position: relative;
}

@media (max-width: 690px) {
  .main {
    width: fit-content;
  }
}

.error-shown {
  filter: blur(10px);
}
